.select {
    width: 40px;
    height: 30px;
    font-size: larger;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 5px;
    background: khaki;
    color: darkslateblue;
}
.label {
    outline: none;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    padding: 3px;
    font-size: larger;
 }
.radio {
    outline: none;
    margin-top: 20px;
    border-color: teal;
}
.label:hover {
    background-color: palevioletred;
}
.option:checked {
    background: palevioletred;
}
.option {
    color: darkslateblue;
    background: khaki;
    padding-left: 50px;
}
.option:focus {
    background: lightcoral;
    transition: all 0.2s ease-in-out;
}
